<form {{on 'submit' this.joinGame}}>
  <label for='join-game-name'>Your Name</label>
  <input name='name' id='join-game-name' placeholder='Mary Poppins' />

  <button type='submit'>Continue</button>
</form>