.board {
  cursor: default;
  height: 560px;
  width: 560px;
  border: 2px solid sandybrown;
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  width: 560px;
}

.square {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(560px / 8);
  height: calc(560px / 8);
  border: 0;
}

.square.selected {
  border: 2px solid cyan;
}

.square .highlighted {
  opacity: 0.5;
  background-color: cyan;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
