<ul class='grid gap-4 grid-cols-4' ...attributes>
  {{#each @cards as |card|}}
    <li>
      <Card @card={{card}} @isInPlay={{eq @cardInPlay card}}>
        {{#if @isMyTurn}}
          <button
            class='mb-4'
            type='button'
            {{on 'click' (fn @playCard card)}}
          >Play</button>
        {{/if}}
      </Card>
    </li>

  {{/each}}
</ul>