<div class='counter'>
  <button type='button' {{on 'click' this.increase}}>Increase</button>
  <button type='button' {{on 'click' this.increaseLocal}}>Increase Local</button>
  <hr />
  {{this.counter}}
</div>

{{yield}}