{{#if this.rooms}}
  <ul>
    {{#each this.rooms as |room|}}
      <li>
        <LinkTo @route='room' @model={{room}}>
          {{room}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No rooms yet. Maybe add one?</p>
{{/if}}

<form {{on 'submit' this.addRoom}}>
  <label for='add-room-name'>Room Name</label>
  <input name='name' id='add-room-name' placeholder='my-room' />

  <button type='submit'>Add Room</button>
</form>