<li class='flex gap-4'>
  {{! template-lint-disable no-unused-block-params }}
  {{#each @cards as |card|}}
    <li
      class='opponent-card__face-down rounded shadow-md w-20 h-28 flex flex-col items-stretch justify-between hover:shadow-lg border-gray-500 border'
    >

    </li>
  {{/each}}
</li>